{% extends 'listings/base.html' %}
{% block content %}
    <h1>Bands</h1>
    <h2><a href="{% url 'band_create' %}">Create Band</a></h2>
    <p>
        J'ai {{ bands|length }}
        {% if bands|length < 5 %}
            peu de
        {% elif bands|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
        groupes préférés.
    </p>
     <ul>
         {% for band in bands %}
         <li>
             <a href="{% url 'band_detail' band.id %}">{{ band.name|upper }}</a>
             - <a href="{% url 'band_change' band.id %}">[update]</a>
         </li>
         {% endfor %}
     </ul>
{% endblock %}
